@font-face{
    font-family: Flama;
    src: local("Flama"), url(Flama.ttf);
}
body{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-image: url(pattern.png);
}
header{
    background: linear-gradient(167deg, rgba(122,26,190,1) 0%, rgba(47,142,172,0.9976365546218487) 50%, rgba(47,185,123,1) 100%);
}
h2{
    padding: 1rem;
    margin: 0px;
    font-family: 'Flama';
}
#main{
    background: #C1CAFF;
    padding-bottom: 0rem;
    box-shadow: 0px 4px 15px;
    width: 50rem;
}
#enter{
	margin-left: 3%;
	margin-top: 2%;
	width: 70%;
	height: 100px;
}
#btns{
	margin-left: 10%;
	margin-top: 0.6rem;
}
#foot{
	margin-top: 10rem;
	margin-bottom: 1rem;
}
